@import "normalize.css";
@import "bootstrap.min.css";
@import "magnific-popup.css";
@import "fonts.css";
@import "style.css";

@media (max-width:1200px) {
    .steps .base .image.item4,
    .steps .base .image.item8 {
        margin-right: 32px;
    }
    
}
@media (max-width:1024px) {
    .navbar-collapse.collapse {
        overflow: hidden!important;     
        display: block!important;
        overflow: hidden!important;
        border-color: transparent;
        opacity: 0.8;
        border-color: transparent;
    }
    .navbar-toggle{        
        border: 1px solid white;
        display: block;
        float: right!important;
    }
    .navbar-toggle span{
        background: white;
    }    
    .navbar-nav>li{
        width: 100%;
    }
    .navbar-nav>li>a {
        line-height: 38px;
    }
    
    .list-get{ margin: 0;}
    
    .slide1 .title{
        margin-left: 0px;
        font-size: 35px;
        padding-left: 50px;
        line-height: 40px;
        width: 90%;        
    }
    .image-rotate img {        
        width: 200px;
    }
    .image-rotate img {
        width: 135px;
    }
    .image-rotate {
    position: absolute;
    left: 0;
    top: -98px;
    height: 150px;
    }
    .slide1 .base{ margin: 0;}
    .slide1 .base {
        background-size: 100%;
    }
    
    .call-us .block-btn {    
        margin-top: 35px;
    }
    .our-works .item{ width: 33%!important;}
    .large-block .item:last-child,
    .our-works .item:last-child{ width: 100%!important;}
    .large-block .item{ width: 50%!important;}
    
    .item-null{ display: none;}
    .will-order p {
        min-height: 155px;
    }
    
    .block-line:before {
        left: 100px;
        top: 79px;
        width: 869px;
        height: 242px;
        background-position: right top;
    }
    .achieving .item div{ padding-top: 120px;}
    .call-us .block-btn {
        margin-top: 19px;
    }
}

@media (max-width:1024px) and (min-width:763px){
.navbar-nav > li{
    float:none;
    display: block;
    }
    .navbar-nav > li > a{padding:0 3px;}
    .nav{margin-left:0;}
    .navbar .container{width:100%;padding:0;}

    .navbar-nav{float:none;}
    .icons-network a{margin-left:0;}
    .navbar-header{float:none;}
    .navbar-inverse .navbar-toggle {
    z-index: 10;
} 
    .navbar-collapse.in .navbar-nav > li > a {
        line-height: 40px;
        text-align: center;
        padding: 0;
        opacity: 1;
        display: block;
        transition: none;
    }        
}

@media (max-width:768px) {
    .will-order .item{ margin-bottom: 180px;}
    .will-order .item:last-child{ margin-bottom: 0px;}
    .will-order .base{ max-width: 100%;}
    .will-order{ margin-bottom: 0;}
    .call-us .block-btn{ margin-bottom: 40px;}
    footer .item{ width: 50%;}
    footer .item:last-child{ width: 100%;}
    footer .item.middle{ border-right: none;}
    
    .list-get .base span {        
        padding-top: 85px;
        line-height: 20px;
    }
    .will-order p {
        min-height: 0;
    }
    .call-us .block-btn {
        margin-top: 0;
    }
    .block-line:before {
        left: 100px;
        top: 79px;
        width: 630px;
    }
    .achieving .item {
        margin-bottom: 8px;
    }
    .block-map .title{
        line-height: 50px;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:640px) {
    .slide1 .base{
        background: none;
    }
    .image-rotate {
        left: 35%;
        top: -75px;
    }
    .slide1 .title {
        text-align: center;
        padding-top: 75px;
    }
    .large-block .item:last-child,
    .our-works .item:last-child {
        width: 33%!important;
    }
    .navbar-brand {
        float: none;
        text-align: center;
        margin: 0 auto!important;
        margin-top: 10px!important;
    }
    .will-call {
        float: none;
    }
    header .title {
        margin-top: 110px;
    }
    .call-us .stay-blanket:after,
    .call-person .base-window:after,
    .call-person .base-window:before,
    header .call-answer:after{ display: none;}
    header .stay-blanket {
        margin: 0 0 -73px 0;
    }
    .image-rotate { 
        top: -45px;
    }
    .slide1 .title {        
        padding-top: 110px;
    }
    .slide1{ background: none;}

    .steps .title {
        line-height: 40px;
        margin-bottom: 15px;
    }
    .block-line:before{ display: none;}
    
    footer .item:last-child,
    footer .item.middle{ border: none;
        padding-left: 0;
    }
    .title-small{ text-align: center;}
        
    footer .inner{
        display: block;
        text-align: center;
    }
    footer .base,
    footer .item,
    .our-works .item,
    .large-block .item:last-child, 
    .our-works .item:last-child, 
    .large-block .item {
        width: 100%!important;
    }
    .call-us .block-btn {
         margin-top: 35px; 
    }

}


@media (max-width:500px) {    
    .divform{ padding: 0; float: none;}
    .stay-blanket{
        width: 100%;
        padding-top: 50px;
    }
    .stay-blanket .title span{ margin: 0;}
    
    .call-person .base-window{
        max-width: 395px;
        width: 100%;
    }
    .slide1 .title{ padding: 0; width: 100%;}
    .white-section-full .title {
        line-height: 40px;
        margin: 0 0 50px 0;
    }
    .image-rotate{
        position: relative;
        left: inherit;
        top: inherit;
        width: 200px;
        border: none;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 15px;
    }
    .image-rotate img {
        transform: rotate(0deg);
        border: 10px solid #ffcc00;
        width: 200px;
    }
    .steps .base .image{ 
        margin: 0 auto;
        display: block;
        margin-bottom: 32px;
    }
    .steps .base .image.item4,
    .steps .base .image.item8 {
        margin-right: auto;
    }
    .call-us,
    .steps{
        background: url("../uploads/slide4.jpg") repeat-y center top;
    }
    
    .title.full span{
        font-size: 33px;
        color: #424242;
        font-family: Exo-Bold;
        font-weight: bold;
    }
    .will-order .image img{
        border: 7px solid #ffcc00;
    }
    .call-us .stay-blanket .title{
        margin: 0 -20px;
    }
    .call-us .ul-form li {
        padding-bottom: 10px;
    }
    
    button.mfp-close, .btn-close {
        right: 20px;
        top: 6px;
    }
    header .call-answer {
        position: relative;
        padding-right: 40px;
        padding-left: 30px;
    }
    .call-us .block-btn {
        margin: 0 auto;
    }
    .achieving,
    .call-us{ margin-bottom: 20px;}
    
    header .title{ font-size: 35px;}
}