@media (max-width:1200px) {
    .steps .base .image.item4,
    .steps .base .image.item8 {
        margin-right: 32px;
    }
    
}
@media (max-width:1024px) {
    .navbar-collapse.collapse {
        overflow: hidden!important;     
        display: block!important;
        overflow: hidden!important;
        border-color: transparent;
        opacity: 0.8;
        border-color: transparent;
    }
    .navbar-toggle{        
        border: 1px solid white;
        display: block;
    }
    .navbar-toggle span{
        background: white;
    }    
    .navbar-nav>li{
        width: 100%;
    }
    .navbar-nav>li>a {
        line-height: 38px;
    }
    
    .list-get:before{ display: none;}    
    .list-get{ margin: 0;}
    
    .slide1 .title{
        margin-left: 0px;
        font-size: 35px;
        padding-left: 50px;
        line-height: 40px;
        width: 90%;        
    }
    .image-rotate img {        
        width: 200px;
    }
    .image-rotate img {
        width: 135px;
    }
    .image-rotate {
    position: absolute;
    left: 0;
    top: -98px;
    height: 150px;
    }
    .slide1 .base{ margin: 0;}
    .slide1 .base {
        background-size: 100%;
    }
}

@media (max-width:1024px) and (min-width:763px){
.navbar-nav > li{
    float:none;
    display: block;
    }
    .navbar-nav > li > a{padding:0 3px;}
    .nav{margin-left:0;}
    .navbar .container{width:100%;padding:0;}

    .navbar-nav{float:none;}
    .icons-network a{margin-left:0;}
    .navbar-header{float:none;}
    .navbar-inverse .navbar-toggle {
    z-index: 10;
} 
    .navbar-collapse.in .navbar-nav > li > a {
        line-height: 40px;
        text-align: center;
        padding: 0;
        opacity: 1;
        display: block;
        transition: none;
    }        
}

@media (max-width:768px) {
    .will-order .item{ margin-bottom: 180px;}
    .will-order .item:last-child{ margin-bottom: 0px;}
    .will-order .base{ max-width: 100%;}
    .will-order{ margin-bottom: 0;}
    .call-us .block-btn{ margin-bottom: 40px;}
    footer .item{ width: 50%;}
    footer .item:last-child{ width: 100%;}
    footer .item.middle{ border-right: none;}
}