@import "normalize.css";
@import "bootstrap.min.css";
@import "magnific-popup.css";
@import "slick.css";
@import "fonts.css";

html,
body{
    height: 100%;
    display: block;    
}
body {
    background:#f5f5f5;
/*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
*/
}

a:link,
a:visited{
    color: #546A67;
    text-decoration: none;
    cursor: pointer;
}

/*global*/
.clear-padding{
    padding: 0!important;
}

.clear-margin{
    margin: 0!important;
}

.ul-left li{ float: left; padding: 0; margin: 0;}
.a-none{ text-decoration: none!important;}
.uppercase{ text-transform: uppercase;}
.underline{ text-decoration: underline;}

a.underline{ text-decoration: underline;}
a.underline:hover{ text-decoration: none;}
.pad-bot30{ padding-bottom: 30px!important;}
.margin-right15{ margin-right: -15px;}
.relative{ position: relative;}
ul li{ list-style: none;}
.absolute{ position: absolute;}
.div-table{ display: table;}
.ul-form{ padding: 0;}
.div-table-cell{ display: table-cell; vertical-align: middle;}

.inline{ display: inline!important;}
.auto-center{ margin: 0 auto!important;}
.full{ width: 100%!important;}

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html *{
 max-height:1000000px;
 outline: none!important;
}
.overfow-hidden{ overflow: hidden;}
div{ margin: 0 auto;}
.ul-form li{ padding-bottom: 10px;}
/*global========*/

body > .container-fluid.main{
    min-height: 100%;    
    padding-top: 52px;
}


/*nav*/
nav{
    background-color: #315176;
}
.navbar-nav{ text-align: left; float: none; margin-left: 15px;}
.navbar-nav>li{ display: inline-block; float: none;}
.navbar-nav>li>a{
    font-family:Exo-Regular;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 52px;    
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar-collapse{ height: 52px;}
/*nav===========*/


.cd-top {
    display: block;
    margin: 0 auto;
    height: 57px;
    width:116px;   
    background: url(../images/up-top.png) no-repeat;    
    opacity: 1;    
}
.cd-top:hover{
    background-position: left bottom;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .5;
}


header{
    min-height: 711px;
    background: url('../uploads/slide2.jpg') no-repeat center top;
}
header .title{ margin-bottom: 30px; }

header .call-answer{
    position: relative;
    padding-right:60px;
}
header .call-answer:after{
    content: "";
    position: absolute;
    display: block;
    right: -135px;
    bottom: -20px;
    width: 242px;
    height: 228px;
    z-index: 10;
    background: url("../images/calculation.png") no-repeat;
}

.white-space{
    height: 87px;
    background: url('../images/back-top-y.png') repeat-x;
}

.navbar-brand{
    background: url('../images/logotype.png') no-repeat;
    height: 67px;
    padding-left: 39px;
    font-size: 16px;
    color: #323232;
    line-height: 17px;
    font-family:Exo-Medium;    
    margin:7px 0 0 15px;
    display: table;
    vertical-align: middle;
}
.navbar-brand span{
    display: table-cell;    
    vertical-align: middle;
    padding-top: 7px;
}
.navbar-brand i{
    font-style: normal;
}
.navbar-brand b{
    font-size: 28px;
    color: #5d5d5d;
    font-family: Exo-Black;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
}

/*will-call*/
.will-call{
    float: right;
    padding-left: 56px;
    height: 87px;
    background-image: url('../images/icons/phones.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.will-call i {
    display: block;
    font-size: 26px;
    color: #323232;
    font-family:Exo-Medium;
    font-style: normal;
    height: 24px;
    width: 232px;
    margin-bottom: 8px;
}
.will-call a {
    font-size: 16px;
    color: #a45021;
    font-family: Exo-Bold;
}
/*will-call=========*/

.title{
    font-size: 43px;
    color: #a45021;
    text-align: center;
    font-family: Exo-Black;
    height: auto;
    text-transform: uppercase;
}
.title span{
    display: block;
    color: #424242;
    font-size: 30px;
    font-family:Exo-Medium;
    margin-top: 5px;
}
.stay-blanket{
    width: 395px;
    height: 432px;
    margin: 0;
    padding: 65px 40px 0 40px;
    background-image: url(../images/form.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.stay-blanket .title{
    font-size: 18px;
    color: #323232;
    margin: 0;
    font-family:Exo-Medium;
    text-transform: none;
    font-weight: bold;
}
.stay-blanket .title span{
    font-size: 24px;
    color: #446790;
    font-family: Exo-Bold;
    display: block;
}
.stay-blanket  .ul-form{ margin-top: 20px;}

.text-empty{
    border: 1px solid white;
    background: white;
    line-height: 45px;
    height: 45px;
    padding-left: 16px;
    font-size: 16px;
    color: #a3a2a2;
    width: 100%;
    font-family:Exo-Regular;
}
.ul-form li{ padding-bottom: 13px;}

.btn.btn-primary {
    width: 260px;
    padding: 0;
    margin: 0 auto;
    border: none;
    line-height: 52px;
    height: 52px;
    font-size: 18px;
    font-family:Exo-Medium;
    border-radius: 0!important;
    color: #2b2b2b!important;
    background: #ffcc00;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    top: 0;
    display: block;    
    border: none;
    box-shadow: 0 3px 0 #d38c02;
    text-align: center;
}

.btn.btn-primary:focus,
.btn.btn-primary:active, 
.btn.btn-primary:hover {
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffcc00),color-stop(100%, #e59a0a));
    background-image: -moz-linear-gradient(top, #ffcc00,#e59a0a);
    background-image: -webkit-linear-gradient(top, #ffcc00,#e59a0a);
    background-image: linear-gradient(to bottom right, #ffcc00,#e59a0a);
    border-color: transparent;
    box-shadow: 0 3px 0 #d38c02;
}

.text-empty::-webkit-input-placeholder {
    color: #a3a2a2;
}
.text-empty.error{
    border:1px solid #f24e22;
}

.text-empty.error::-webkit-input-placeholder,
.text-empty.error::-moz-placeholder{
    color: #f24e22!important;
}

.btn.btn-primary:active, 
.btn.btn-primary:focus {
    border: none;
    outline: 0;
    cursor: pointer;
}

.btn.btn-primary:active {
    top: 3px;
    padding: 0;
    box-shadow: 0 0 0 #809e1e;
}

.thanks .title {
    font-size: 36px;
    color: #a45021;
    font-family: Exo-Bold;
    text-transform: uppercase;
}
.thanks p.description{
    font-size: 24px;
    color: #323232;  
    line-height: 40px;
    font-family: Exo-Medium;
    text-align: center;
    text-transform: uppercase;
}
.modal .call-answer{
    height: 150px;
    width: 320px;
}

footer{
    background: #315176;
    min-height: 157px;
}

.title-small{
    color: white;
    font-size: 20px;
    font-family: Exo-Black;
    text-transform: uppercase;
    display: block;
}

footer .will-call i{ color: white;}
footer .will-call a{
    color: #ffcc00;
}


/*slide1*/
.slide1{
    background: url("../uploads/slide3.jpg") no-repeat center top;
    min-height: 430px;
    padding-top: 98px;
}
.slide1 .base{
    position: relative;
    background-image: url("../images/back-arrow.png");
    background-repeat: no-repeat;
    background-position: left top;    
    display: table;
    max-width: 832px;
    margin-left: 280px;
}
.slide1 .title{
    font-size: 36px;
    color: #a45021;
    display: block;
    text-align: left;
    min-height: 257px;
    padding: 40px 60px 0 70px;
    line-height: 34px;
    font-family: Exo-Black;
}
.slide1 .title br{
    line-height: 43px;
    display: inline-block;
}
.slide1 .title span{
    color: #424242;
    font-size: 20px;
    line-height: 22px!important;
    font-family:Exo-Regular;
    text-transform: none;
}
/*slide1====*/

.image-rotate{
    position: absolute;
    left: -270px;
    top: -30px;
    height: 267px;
    max-width: 296px;
    background: transparent;
    border: 10px solid #ffcc00;
}
.image-rotate img{
    display: block;
    position: relative;
    max-width: 296px;
    transform: rotate(-9deg);
    margin: -13px 0 0 -10px;
}

.white-section{
    min-height: 431px;
    background: url("../uploads/slide4.jpg") repeat-y center top;
}
.white-section .title{
    height: 190px;
    display: table;
    margin: 0 auto;
    text-align: center;
}
.title.full span{ line-height: 35px; display: table-cell; vertical-align: middle;}

.list-get{ position: relative; margin: 0 40px;}

/*
.list-get:before{
    background: url("../images/arrows-bottom.png") no-repeat center top;
    content: "";
    position: absolute;
    left: 0;
    display: block;
    top: -21px;
    height: 31px;
    width: 100%;
}
*/
.list-get .base{
    text-align: center;
    color: #424242;
    font-size: 20px;
    font-family:Exo-Regular;
    min-height: 170px;
    margin-bottom: 15px;
    background-position: center top;
    background-repeat: no-repeat;
}

.list-get .base span{
    display: block;    
    padding-top: 88px;
    line-height: 26px;
}
.list-get .base.item1{ background-image: url(../images/get1.png);}
.list-get .base.item2{ background-image: url(../images/get2.png);}
.list-get .base.item3{ background-image: url(../images/get3.png);}

/*steps*/
.steps{
    min-height: 645px;
    background: url("../uploads/slide9.jpg") no-repeat center top;
}
.steps .title{
    padding-top: 20px;
    line-height: 125px;
    margin: 0;
}
.steps .base{ text-align: center;}
.steps .base .image{
    width: 250px;
    height: 202px;
    position: relative;
    display: inline-block;
    margin-right: 32px;
    margin-bottom: 32px;
}
.steps .base .image .description{
    font-size: 16PX;
    color: white;
    font-family:Exo-Medium;    
    vertical-align: middle;
    position: absolute;
    height: 202px!important;
    width: 250px!important;
    left: 0;
    bottom: 0;
    display: table;
    transition: 1s ease;
    background-color: transparent;
    transform: scale(0);
}
.steps .base .image .description table{ width: 100%; }
.steps .base .image .description table td{ vertical-align: middle; height: 202px;}

.steps .base .image .description i{
    font-style: normal;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: table-cell;
}
.steps .base .image:hover .description{               
    background: url('../images/space-photo.png') repeat;
    transform: scale(1);
}

.steps .base .image img{ width: 100%; height: 100%; display: block;}
.steps .base .image.item4,
.steps .base .image.item8{ margin-right: 0;}
.steps .base .image.item1:before{ content: "1";}
.steps .base .image.item2:before{ content: "2";}
.steps .base .image.item3:before{ content: "3";}
.steps .base .image.item4:before{ content: "4";}
.steps .base .image.item5:before{ content: "5";}
.steps .base .image.item6:before{ content: "6";}
.steps .base .image.item7:before{ content: "7";}
.steps .base .image.item8:before{ content: "8";}

.steps .base .image.item2:before,
.steps .base .image.item4:before,
.steps .base .image.item6:before,
.steps .base .image.item8:before{
    background-image: url('../images/count-yellow.png');
    
}

.steps .base .image:before{    
    position: absolute;
    left: -6px;
    bottom: 11px;
    z-index: 10;
    width: 51px;
    height: 48px;    
    padding-right: 5px;
    font-size: 24px;
    font-family: Exo-Bold;
    line-height: 42px;
    text-align: center;
    color: #2b2b2b;
    background-image: url('../images/count.png');
    background-repeat: no-repeat;    
}
/*steps============*/

.dark{
    font-size: 33px;
    color: #424242;
    font-family: Exo-Bold;    
    font-weight: bold;
}


/*white-section-full*/
.white-section-full{
    min-height: 572px;
    background: url('../uploads/slide5.jpg') no-repeat center top;
}
.white-section-full .title{ 
    line-height: 167px;
    margin: 0;
}
/*white-section-full==========*/

/*will-order*/
.will-order{ padding-top: 108px; padding-bottom: 70px;}
.will-order .base{
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    background: white;
    border: 6px solid #e6e6e6;
}
.will-order p{
    font-size: 20px;
    color: #323232;
    text-align: center;
    font-family:Exo-Medium;
    margin-bottom: 16px;
}
.will-order p span{
    color: #446790;
    font-family:Exo-Black;
    font-size: 30px;
}
.will-order .middle p span{ color: #a45021; }
.will-order .image{
    width: 160px;
    height: 160px;
    margin-top: -113px;
    margin-bottom: 30px;
    position: relative;
}
.will-order .image img{ 
    max-width: 160px;
    max-height: 160px;
    position: relative;
    z-index: 1;
}
.will-order .image:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transform:rotate(14deg);
    display: block;
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    border: 7px solid #ffcc00;
    background: transparent;
}
.will-order .btn{ width: 220px; margin-bottom: -32px;}
/*will-order==========*/

/*.call-person*/
.call-person{
    min-height: 363px;
    background: url('../uploads/slide6.jpg') no-repeat center top;
    padding-top: 46px;
}
.call-person .base-window{ width: 395px; margin: 0 auto;}
.call-person .stay-blanket{
    position: relative; 
    z-index: 5;
    padding-right: 60px;
    margin-bottom: -115px!important;
}

.call-person .base-window:after{
    position: absolute;
    content: "";
    left: -200px;
    top: 115px;
    display: block;
    z-index: 0;
    width: 314px;
    height: 321px;
    background: url('../images/map.png') no-repeat;
}
.call-person .base-window:before{
    position: absolute;
    content: "";
    right: -90px;
    bottom: -5px;
    z-index: 10;
    width: 135px;
    height: 138px;
    display: block;
    background: url('../images/clock.png') no-repeat;
}
/*.call-person===========*/

.large-block{
    min-height: 716px;
    background: url('../uploads/slide7.jpg') no-repeat center top;
    padding-top: 140px;
}
.large-block .top-row{ padding: 0 30px;}
.large-block .title{ margin-bottom: 40px;}
.large-block .base{
    background: url('../images/small-block.png') no-repeat;
    width: 315px;
    margin: 0 auto;
    height: 215px;
    margin-bottom: 10px;
    text-align: center;
}
.large-block .base .image{
    display: block;
    height: 107px;
    background-repeat: no-repeat;
    background-position: center top;
}
.large-block .base p{
    font-size: 18px;
    color: black;
    font-family:Exo-Medium;
}
.large-block .base span{
    display: block;
    font-size: 18px;
    color: #a45021;
    font-weight: bold;
    font-family: Exo-Bold;
}
.large-block .base .image.item1{ background-image: url('../images/icons/ico1.png');}
.large-block .base .image.item2{ background-image: url('../images/icons/ico2.png');}
.large-block .base .image.item3{ background-image: url('../images/icons/ico3.png');}
.large-block .base .image.item4{ background-image: url('../images/icons/ico4.png');}
.large-block .base .image.item5{ background-image: url('../images/icons/ico5.png');}
.large-block .new-row .base p{ margin-top: 7px;}
/*our-works*/
.our-works{ padding-bottom: 20px;}
.our-works .title{ padding-top: 20px; height: 120px; line-height: 120px;}
.our-works .image{
    width: 228px;
    height: 228px;
    padding-top: 12px;
    margin-bottom: 30px;
}
.our-works .image .glass{ 
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(0);
}

.our-works .image:hover .glass{    
    background: url("../images/glass.png") no-repeat center center;
    transform: scale(1);
}
.our-works .image img{
    max-width: 100%; 
    width: 100%; 
    max-height: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.our-works .image{ position: relative;}
.our-works .image:after,
.our-works .image:before{
    content: "";
    display: block;
    position: absolute;
    width: 79px;
    height: 79px;
    z-index: 0;
}
.our-works .image.border-red:before{ 
    left: -12px;
    top: -12px;
    background-color: #a45021;
}
.our-works .image.border-red:after{ 
    right: -12px;
    bottom: -12px;
    background-color: #a45021;
}

.our-works .image.border-yellow:before{ 
    left: -12px;
    top: -12px;
    background-color: #ffcc00;
}
.our-works .image.border-yellow:after{ 
    right: -12px;
    bottom: -12px;
    background-color: #ffcc00;
}
.our-works .image.border-blue:before{ 
    left: -12px;
    top: -12px;
    background-color: #315176;
}
.our-works .image.border-blue:after{ 
    right: -12px;
    bottom: -12px;
    background-color: #315176;
}
/*our-works============*/


/*call-us*/
.call-us{
    min-height: 921px;
    padding-top: 47px;
    background: url('../uploads/slide8.jpg') no-repeat center top;
}
.call-us{}
.call-us .block-btn{     
    margin: 25px 0px 0 50px;
    position: relative;
    z-index: 10;
}

.call-us .stay-blanket:after{
    content: "";
    position: absolute;
    display: block;
    right: -60px;
    bottom: 10px;
    width: 124px;
    height: 169px;
    background: url("../images/phone.png") no-repeat;
}
.call-us .stay-blanket {
    padding: 58px 60px 0 45px;
}
.call-us .stay-blanket .title{
    margin: 0 -10px;
}
/*call-us===========*/

.block-map {
    position: relative;
    overflow: hidden;
    min-height: 382px;
}
.block-map #map,
.block-map iframe {
    height: 382px;
    width: 100%!important;
    border: none;
    pointer-events: none;
}
.block-map .title{ 
    line-height: 120px;
    text-align: center;
    display: block;
}

footer .navbar-brand{ color: white; height: 75px;}
footer .navbar-brand b{ color: white;}

footer .base{
    display: table;
    min-height: 103px;
}
footer .inner{ display: table-cell; vertical-align: middle;}
footer p{
    font-size: 16px;
    color: white;
    font-family:Exo-Regular;
}

footer .item{    
    margin-top: 34px;
}
footer .item:last-child{ padding-left: 30px;}
footer .item.middle{
    border-left: 1px solid #416085;
    border-right: 1px solid #416085;
    
    padding-left: 56px;
}


.btn i{
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-left: 9px;
    background: url('../images/icons/btn-arrow.png') no-repeat;
}

.achieving{ margin: 30px 10px 0 10px;}
.achieving .item{
    font-size: 18px;
    color: black;
    z-index: 10;
    font-family:Exo-Medium;
    text-align: center;
    margin-bottom: 15px;
}
.achieving .item div{
    padding-top: 135px;
    background-repeat: no-repeat;
    background-position: center top;
}
.achieving .item .image1{
    background-image: url('../images/circle1.png');
}
.achieving .item .image2{
    background-image: url('../images/circle2.png');
}
.achieving .item .image3{
    background-image: url('../images/circle3.png');
}
.achieving .item .image4{
    background-image: url('../images/circle4.png');
}

/*.popup-form*/
.popup-form{ 
    width: 395px;
    height: 432px;
    margin: 0 auto;
    padding: 65px 40px 0 40px;
    background-image: url(../images/form.png);
    background-repeat: no-repeat;
    position: relative;
}
.popup-form .title{
    font-size: 18px;
    color: #323232;
    margin: 0;
    font-family:Exo-Medium;
    text-transform: none;
    font-weight: bold;
}
.popup-form .title span{
    font-size: 24px;
    color: #446790;
    font-family: Exo-Bold;
    display: block;
}
.popup-form  .ul-form{ margin-top: 20px;}
.popup-form .block-base-windows{ height: 290px;}
.popup-form form{ padding-bottom: 3px;}
.thanks{ padding-top: 60px;}
.thanks .title span{
    font-size: 36px;
    color: #446790;
    font-family: Exo-Bold;
}
/*.popup-form============*/

button.mfp-close,
.btn-close{position:absolute;
    right:-42px;
    top:0;
    width:32px!important;
    height:32px!important;
    background:url("../images/icons/close.png") no-repeat; font-size: 0;}

button.mfp-close:hover,
.btn-close:hover{background-position:left bottom;}

.block-line:before{
    content: "";
    display: block;
    position: absolute;
    left: 200px;
    top: 77px;
    width: 929px;
    height: 242px;
    background: url("../images/block-line.png") no-repeat;
    z-index: 1;
}


.modal-content.call-answer{
   width: 476px;
    height: 363px;
    background: url("../images/form-small.png") no-repeat;
    box-shadow: none;
    border: none;
    padding-top: 45px;
}



.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/* Move-horizontal effect */
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg{
  opacity: 0;
}
/* Move-horizontal effect ===============*/

/*gallery*/
.mfp-title{ 
    background: url('../images/space-photo.png') repeat;
    display: none;
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
    min-height: 30px;
    padding-top: 7px;
    opacity: 0.5;
}
.mfp-figure button.mfp-close, .mfp-figure .btn-close {
    position: absolute;
    right: -25px!important;
    top: 7px!important;
    cursor: pointer!important;
    background: none;
    font-size: 27px;
}
.mfp-counter {
    position: absolute;
    top: 35px;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}
/*gallery===========*/

.popup-form .thanks {
    padding-top: 30px;
}

.firefox .stay-blanket .title{ margin: 0 -20px;}

.padding-slide8{
    padding-top: 36px;
}

.order.popup-form{
    padding-top: 50px;
}
.order.popup-form .block-base-windows {
    height: 317px;
}
.title p i{ font-weight: normal; }

/*
.carousel .navigator{    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: url("../images/slider-back.png") no-repeat center;
}

.carousel .navigator div{
    text-align: center;
    width: 120px;
    position: relative;
}
*/
.slick-arrow.slick-next{ background-position: right top; right: 45%; }
.slick-arrow.slick-prev{ background-position: left top; left: 45%; }

.slider{ position: relative; padding-bottom: 33px; margin-bottom: 78px;}

.slider:after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background: url('../images/slider-back.png') no-repeat center top;    
}

.slick-arrow{
    display: inline-block;
    width: 45px;
    height: 45px;
    border: none;
    font-size: 0;
    position: absolute;
    bottom: -8%;
    background-image: url('../images/icons/arrows.png');
    background-repeat: no-repeat;    
    background-color: transparent;
}
/*.our-works .carousel-inner{ padding-bottom: 55px; margin-bottom: 45px;}*/
/*.our-works .carousel-indicators{ display: none;}*/

.call-back-form{
    position: relative;
    z-index: 20;
}

 #map {
        height:400px;
        width:550px;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }

/*.firefox*/
.firefox .mask,
.firefox .li-tel:after,
.firefox .navbar-nav > li > a{
    font-family: 'Exo 2';
    font-weight: 300;
}

.firefox .text-empty,
.firefox .title span,
.firefox .list-get .base,
.firefox .slide1 .title span,
.firefox footer p,
.firefox .btn.btn-primary,
.firefox .achieving .item,
.firefox .will-call i,
.firefox .large-block .base p,
.firefox .stay-blanket .title,
.firefox .will-order p span,
.firefox .will-order p{
    font-family: 'Exo 2';
    font-weight: 500;
}

.firefox .title-small,
.firefox .navbar-brand b,
.firefox .will-order p span{
    font-family: 'Exo 2';
    font-weight: 900;
}
.firefox .large-block .base span,
.firefox .dark,
.firefox .will-call a{
    font-family: 'Exo 2';
    font-weight: bold;
}
/*.firefox============*/



.li-tel:after{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #a3a2a2;
    width: 100%;
    font-family: Exo-Regular;
}

.mask{ 
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    line-height: 45px;
    height: 45px;
    font-style: normal;
    padding-left: 16px;
    font-size: 16px;
    color: #a3a2a2;
    width: 55px;
    font-family: Exo-Regular;
    overflow: hidden;
}
.mask.active{
    display: block;    
}
input[type=tel]{
    transition: 0.5s ease;
}
input[type=tel].focus{ padding-left: 60px;}